secrets.yaml
.yandex_station.json
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db*
.storage
__pycache__
www/**/*.gz
www/community
.google_fit.token
.shopping_list.json
webostv.conf
.idea
/image
*.DS_Store
